// Variables
$color-primario: #e495ff;
$color-primario-hover: #b879ce;
$color-primario-active: #8e5d9e;

$color-secundario:#6d6d6d;
$color-secundario-hover:#b1b1b1;
$color-secundario-active:#a5a5a5;

$color-respaldo:rgb(0, 170, 37);
$color-respaldo-hover:rgb(0, 131, 28);
$color-respaldo-active:rgb(1, 126, 28);

$color-claro:#ffff;
$color-claro-50:rgb(235, 235, 235);
$color-oscuro:#1f1f1f;
$color-oscuro-50:#1f1f1ff6;

$color-fondo:#fff9ff;

* {
    padding: 0;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all 0.2s;
}

// Boton primario
// //////////////////////////////
html body .btn-primario {
    color: $color-claro;
    background-color: $color-primario;
    border: 1px solid $color-primario;

    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #b879ce;
    --bs-btn-active-border-color: #b879ce;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-shadow: inset 0 3px 5pxrgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #b879ce;
    --bs-btn-disabled-border-color: #b879ce;

    &:hover {
        color: $color-claro;
        background-color: $color-primario-hover;
        border: 1px solid $color-primario-hover;
    }
}

// Seccion de redes
// ///////////////////////////////////////////
#redes-header {
    background-color: #fd9fff;
    height: 6rem;

    div {

        height: 6rem;

        .izq {
            margin-left: 4rem;
            display: flex;
            align-items: center;
            color: $color-claro;
        }

        .der {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 14px;

            a {
                color: $color-claro;
                padding: 1rem;
                text-decoration: none;
            }

            span {
                color: $color-claro;
            }
        }
    }
}

// Paste que tendra una transision
// ////////////////////////////////////
body #pastel {
    width: 500px;
    position: relative;
    top: 10rem;
    animation: move 10s infinite;
}

@keyframes move {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(50px);
    }

    100% {
        transform: translateY(0px);
    }
}

@media (max-width: 2755px) {
    body header #pastel {
        width: 525px;
        top: 6rem;
    }
}

@media (max-width: 1658px) {
    body header #pastel {
        width: 425px;
        top: 12rem;
    }
}

@media (max-width: 1024px) {
    body header #pastel {
        width: 375px;
    }
}

@media (max-width: 890px) {
    body header #pastel {
        width: 315px;
        top: 15rem;
    }
}


@media (max-width: 767px) {
    body header #pastel {
        width: 325px;
        top: -1rem;
        left: -1rem;
    }
}

@media (max-width: 321px) {
    body header #pastel {
        width: 285px;
        top: -1rem;
        left: -1rem;
    }
}

// Figura 2 con transision
// /////////////////////////////////
#figura2 {
    margin-top: 1rem;
    width: 100%;
    max-width: 450px;
    border-radius: 0.375rem;

    max-height: 600px;
    // box-shadow: 0px 4px 4px rgba(196, 196, 196, 0.25);
}


// Swiper slider
// /////////////////////////////////////

html body .container-swiper {
    width: 100%;
    padding: 10px 40px;
    border-radius: 0.375rem;
    background-color: $color-fondo;
    // background-color: #fbf0ff;

    .swiper-container {
        width: 100%;
        height: 100%;

        .swiper-slide {
            background-color: $color-claro;
            border-radius: 0.375rem;
            height: 100%;


            li:nth-child(2) {
                i {
                    color: #40b1ab;
                }
            }

            li:nth-child(3) {
                i {
                    color: #49c7c1;
                }
            }


            li:nth-child(4) {
                i {
                    color: #54e0d9;
                }
            }

            li:nth-child(4) {
                i {
                    color: #5df5ed;
                }
            }

            span {
                color: #6c757d;
                font-size: 35px;
            }
        }

        .swiper-slide:nth-child(1):hover {
            span {
                color: $color-primario;
                animation: animacion-1 1s normal;
            }

            @keyframes animacion-1 {
                0% {
                    transform: translateX(-120px);
                }

                50% {
                    transform: translateX(20px);
                }

                100% {
                    transform: translateX(0px);
                }
            }
        }

        .swiper-slide:nth-child(2):hover {
            span {
                color: $color-primario;
                animation: animacion-2 1s normal;
            }

            @keyframes animacion-2 {
                0% {
                    transform: translateY(0px);
                }

                50% {
                    transform: translateY(7px);
                }

                100% {
                    transform: translateY(0px);
                }
            }
        }

        .swiper-slide:nth-child(3):hover {
            span {
                color: $color-primario;
                animation: animacion-3 0.7s normal;
            }

            @keyframes animacion-3 {
                from {
                    transform: translate(0, 0);
                }

                to {
                    transform: translate(120px, -120px);
                }
            }
        }
    }
}

// boton scrol top
html body .scrollBoton {
    color: $color-primario;
    display: none;
    width: 2.75rem;
    height: 2.75rem;
    position: fixed;
    z-index: 10;
    bottom: 50px;
    right: 30px;
    background: $color-claro-50;
    border-radius: 50px !important;
    text-align: center;

    &:hover,
    a.scroll-top:hover {
        color: $color-claro;
        background: $color-primario;
    }

    a.scroll-top i {
        color: $color-claro;
        font-size: 1.75rem;
        position: relative;
        top: -2px;
    }
}

@media (max-width: 767px) {
    html body .scrollBoton {
        right: 15px;

        a.scroll-top i {
            color: $color-claro;
            top: 0px;
        }
    }
}

// Tarjetas ecomerce
// ////////////////////////////////////////
html body #productos {

    .band {
        width: 100%;
        max-width: 1240px;
        margin: 0 auto;

        display: grid;

        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap: 20px;

    }

    @media only screen and (min-width: 500px) {
        .band {
            grid-template-columns: 1fr 1fr;
        }

        .item-1 {
            grid-column: 1/ span 2;
        }
    }

    @media only screen and (min-width: 850px) {
        .band {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    @media only screen and (min-width: 1000px) {
        .band {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }

    /* card */

    .cardd {
        min-height: 100%;
        background: $color-claro;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: #444;
        position: relative;
        top: 0;
        transition: all .1s ease-in;


        // &:hover {
        //     top: -2px;
        //     box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
        // }


        article {
            padding: 21px;
            display: flex;

            flex: 1;
            justify-content: space-between;
            flex-direction: column;

        }

        .thumb {
            padding-bottom: 60%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

        p {
            flex: 1;
            /* make p grow to fill available space*/
            line-height: 1.4;
        }

        span {
            font-size: 12px;
            font-weight: bold;
            color: #999;
            text-transform: uppercase;
            letter-spacing: .05em;
            margin: 2em 0 0 0;
        }

        img {
            height: 250px;
        }
    }

    /* typography */
    h1 {
        font-size: 20px;
        margin: 0;
        color: #333;
    }
}


html body {
    .bi-heart-fill {
        color: $color-primario;
    }
}


html body #testimonios {

    .container-swiper {
        background-color: #f6d4fc;

        .swiper-slide {
            margin-top: 40px;
            margin-bottom: 40px;

            h6 {
                color: #36bc9b;
            }

            h4,
            h6,
            p {
                position: relative;
                top: -30px;
            }

            img {
                margin: auto;
                width: 120px;
                height: 120px;
                background-size: cover;
                border-radius: 50%;
                position: relative;
                top: -60px;
            }
        }
    }
}



// Modal

.modall {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: none;
    opacity: 1;
    pointer-events: unset;
    transition: opacity .3s .4s;
    --transform: translateY(-10vh);
    --transition: transform .6s;

    z-index: 15;
}



.modal__container {
    margin: auto;
    width: 95%;
    max-width: 600px;
    max-height: 95%;
    background-color: #fff;
    border-radius: 6px;
    padding: 3em 2.5em;
    transform: var(--transform);
    transition: var(--transition);
}


@media (max-width:800px) {

    .modal__container {
        padding: 2em 1.5em;
    }

    .modal__title {
        font-size: 2rem;
    }
}



// Estilos al scroll
/* width */
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: $color-claro;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $color-secundario;
    border-radius: 14px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $color-secundario;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}