// Variables
$color-primario: #e495ff;
$color-primario-hover: #b879ce;
$color-primario-active: #8e5d9e;

$color-secundario:#6d6d6d;
$color-secundario-hover:#b1b1b1;
$color-secundario-active:#a5a5a5;

$color-respaldo:rgb(0, 170, 37);
$color-respaldo-hover:rgb(0, 131, 28);
$color-respaldo-active:rgb(1, 126, 28);

$color-claro:#ffff;
$color-claro-50:rgb(235, 235, 235);
$color-oscuro:#1f1f1f;
$color-oscuro-50:#1f1f1ff6;


// Boton primario
// //////////////////////////////
html body .btn-primario {
    color: $color-claro;
    background-color: $color-primario;
    border: 1px solid $color-primario;

    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #b879ce;
    --bs-btn-active-border-color: #b879ce;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-shadow: inset 0 3px 5pxrgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #b879ce;
    --bs-btn-disabled-border-color: #b879ce;

    &:hover {
        color: $color-claro;
        background-color: $color-primario-hover;
        border: 1px solid $color-primario-hover;
    }
}

// Seccion de redes
// ///////////////////////////////////////////
#redes-header {
    background-color: $color-primario;
    height: 6rem;

    div {

        height: 6rem;

        .izq {
            margin-left: 4rem;
            display: flex;
            align-items: center;
            color: $color-claro;
        }

        .der {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 14px;

            a {
                padding: 1rem;
                text-decoration: none;
            }

            a:nth-child(1):hover {
                border: 1px solid #b6019b;
                background-color: #b6019b;
                border-radius: 7px;
            }

            a:nth-child(2):hover {
                border: 1px solid #3f62a9;
                background-color: #3f62a9;
                border-radius: 7px;
            }

            a:nth-child(3):hover {
                border: 1px solid #085a52;
                background-color: #085a52;
                border-radius: 7px;
            }

            span {
                color: $color-claro;
            }
        }
    }
}

// Paste que tendra una transision
// ////////////////////////////////////
body header #pastel {
    width: 500px;
    position: relative;
    top: 10rem;
    animation: move 10s infinite;
}

@keyframes move {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(50px);
    }

    100% {
        transform: translateY(0px);
    }
}

@media (max-width: 2755px) {
    body header #pastel {
        width: 525px;
        top: 6rem;
    }
}

@media (max-width: 1658px) {
    body header #pastel {
        width: 425px;
        top: 12rem;
    }
}

@media (max-width: 1024px) {
    body header #pastel {
        width: 375px;
    }
}

@media (max-width: 890px) {
    body header #pastel {
        width: 315px;
        top: 15rem;
    }
}


@media (max-width: 767px) {
    body header #pastel {
        width: 325px;
        top: -1rem;
        left: -1rem;
    }
}

@media (max-width: 321px) {
    body header #pastel {
        width: 285px;
        top: -1rem;
        left: -1rem;
    }
}

// Figura 2 con transision
// /////////////////////////////////
#figura2 {
    margin-top: 1rem;
    width: 100%;
    max-width: 400px;
    border-radius: 14px;

    max-height: 600px;

    // -webkit-box-shadow: 7px 7px 7px -8px rgba(0, 0, 0, 0.21);
    // -moz-box-shadow: 7px 7px 7px -8px rgba(0, 0, 0, 0.21);
    // box-shadow: 7px 7px 7px -8px rgba(0, 0, 0, 0.21);
}


// Swiper slider
// /////////////////////////////////////

html body .container-swiper {
    width: 100%;
    padding: 10px 40px;
    border-radius: 21px;
    background-color: #fce9ff;

    .swiper-container {
        width: 100%;
        height: 100%;

        .swiper-slide {
            background: $color-claro;
            border-radius: 14px;
            box-shadow: 0px 4px 4px rgba(196, 196, 196, 0.25);

            span {
                color: #6c757d;
                font-size: 35px;
            }
        }

        .swiper-slide:nth-child(1):hover {
            span {
                color: #379994;
                animation: animacion-1 1s normal;
            }

            @keyframes animacion-1 {
                0% {
                    transform: translateX(-120px);
                }

                50% {
                    transform: translateX(20px);
                }

                100% {
                    transform: translateX(0px);
                }
            }
        }

        .swiper-slide:nth-child(2):hover {
            span {
                color: $color-primario;
                animation: animacion-2 1s normal;
            }

            @keyframes animacion-2 {
                0% {
                    transform: translateY(0px);
                }

                50% {
                    transform: translateY(7px);
                }

                100% {
                    transform: translateY(0px);
                }
            }
        }

        .swiper-slide:nth-child(3):hover {
            span {
                color: #3474a8;
                animation: animacion-3 0.7s normal;
            }

            @keyframes animacion-3 {
                from {
                    transform: translate(0, 0);
                }

                to {
                    transform: translate(120px, -120px);
                }
            }
        }
    }
}