// Componentes
@use 'componentes';

// Estilos
@use 'estilos';

// Modificar componentes y variables de boostrap
@use 'boostrap';

// Variables
$color-primario: #e495ff;
$color-primario-hover: #b879ce;
$color-primario-active: #8e5d9e;

$color-secundario:#6d6d6d;
$color-secundario-hover:#b1b1b1;
$color-secundario-active:#a5a5a5;

$color-respaldo:rgb(0, 170, 37);
$color-respaldo-hover:rgb(0, 131, 28);
$color-respaldo-active:rgb(1, 126, 28);

$color-claro:#ffff;
$color-claro-50:#fce9ff;
$color-oscuro:#1f1f1f;
$color-oscuro-50:#1f1f1ff6;

$color-fondo:#fff9ff;

// Estilo globar, transision
// /////////////////////////////////

* {
    padding: 0;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all 0.2s;
}

html body {
    background-color: $color-fondo;
}

a {
    text-decoration: none;

    color: $color-secundario;

    &:hover {
        color: $color-primario-hover;
    }
}

html body main {
    width: 100%;
    height: max-content;
    background-image: url(../public/img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;

    .contenedor {
        width: 100%;

        .portada {
            background-color: $color-claro;

            img {
                width: 100%;
                height: 45rem;
                max-height: max-content;
                border-radius: 0.35rem;
            }

            .text-hola {
                color: #309b80;
            }
        }

        .formulario {
            padding-top: 2rem;
            padding-bottom: 2rem;
            background-color: $color-claro;
            color: $color-oscuro;

            i {
                font-size: 5rem;
                color: #309b80;
            }

            .btn-primario {
                padding-top: 0.75rem;
                padding-bottom: 0.75rem;
            }
        }
    }
}